{% extends 'base.html' %}
{% block title %}测试平台{% endblock %}

{% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">项目管理<span class="sr-only">(current)</span></a></li>
    <li><a href="#">模块管理</a></li>
    <li><a href="#">页面2</a></li>
    <li><a href="#">页面3</a></li>
  </ul>
</div>
{% endblock %}

{% block main %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">项目管理</h1>
  <h4><a class="sub-header" href='/api/create_project/'>创建项目</a></h4>
  <div class="table-responsive" method="get" action="/api/home/">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>编号</th>
          <th>项目名称</th>
          <th>创建日期</th>
          <th>备注</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for project in projects %}
          <td>{{ project.id }}</td>
          <td>{{ project.project_name }}</td>
          <td>{{ project.create_time }}</td>
          <td>{{ project.project_remarks }}</td>
          <td>{{ project.project_status }}</td>
          <td>
            <a class="btn btn-success btn-lg" href="/api/get_project_list/?id={{ project.id }}" role="button">
              编辑</a>
            <a class="btn btn-success btn-lg" href="/api/delete_project/?id={{ project.id }}" role="button">
              删除</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
