<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

  <title>登录</title>
  <!-- 引用本地样式 -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
  <!-- 引用CDN样式 -->
  <!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet"> -->

</head>

<body>
  <div class="container">
    <!-- 登录框 -->
    <form class="form-signin" method="post" action="/login_action/">
      <h2 class="jumbotron">软件测试平台</h2>
      <div class="form-group">
        <label for="exampleInputUsername1">Username</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="username" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
      <p class="bg-danger">{{ error }}</p>
      {% csrf_token %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      <div id="sticky-nav"><a class="gocom" onclick="document.getElementById(&#39;comment&#39;).focus();return false;">
          <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
      </div>
  </div>
  </form>
</body>

</html>
