{% extends 'base.html' %}
{% load static %}
{% block title%}项目信息{% endblock %}

{% block css %}
<link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<!-- 判断是否创建项目 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="page-header">创建模块</h2>
  <form class="form-horizontal" method="post" action="/api/add_module/">
    {% csrf_token %}
    <div class="form-group">
      <label for="选择项目" class="col-sm-2 control-label">选择项目</label>
      <div class="col-sm-10">
        <select class="selectpicker" name='project_name'>
          {% for project in projects %}
          <option value="{{ project.project_name }}">{{ project.project_name }}</option>
          {% endfor %}
        </select>

      </div>
    </div>

    <div class="form-group">
      <label for="模块名称" class="col-sm-2 control-label">模块名称</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="module1" name="module_name">
      </div>
    </div>
    <div class="form-group">
      <label for="创建时间" data-date="12-02-2012" class="col-sm-2 control-label form_datetime1">创建时间</label>
      <div class="col-sm-10">
        <input size="16" type="text" class="form-control form_datetime1" value="{{ time_now }}" id="module_time" name="create_time">
      </div>
    </div>
    <div class="form-group">
      <label for="模块备注" class="col-sm-2 control-label">项目备注</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" name="describe" placeholder="关于模块..."></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" type="submit">创建</button>
        <a class="btn btn-primary" href="/api/module/" role="button">取消</a>
      </div>
    </div>
  </form>

</div>
{% endblock %}

{% block js %}
<!--时间控件 -->
<script type="text/javascript">
  $('a[href^="#"]').click(function() {
    var the_id = $(this).attr("href");
    $('html, body').animate({
      scrollTop: $(the_id).offset().top
    }, 'slow');
    return false;
  });

  $(".form_datetime1").datetimepicker({
    format: 'yyyy年mm月dd hh:ii',
    forceParse: true,
    startDate: new Date(),
    autoclose: true,
    todayBtn: true,
    initialDate: new Date(),
    minView: 1
  });
</script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>

{% endblock %}
