{% extends 'base.html' %}
{% block title%}项目信息{% endblock %}

{% block main %}
<!-- 判断是否创建项目 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  {% if id is None %}
  <h2 class="page-header">创建项目</h2>
  <form class="form-horizontal" method="post" action="/api/add_project/">
    {% csrf_token %}
    <div class="form-group">
      <label for="项目名称" class="col-sm-2 control-label">项目名称</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="prject_name" name="project_name">
      </div>
    </div>
    <div class="form-group">
      <label for="创建时间" data-date="12-02-2012" class="col-sm-2 control-label form_datetime1">创建时间</label>
      <div class="col-sm-10">
        <input size="16" type="text" class="form-control form_datetime1" value="{{ time_now }}" id="project_time" name="project_time">
      </div>
    </div>
    <div class="form-group">
      <label for="状态" class="col-sm-2 control-label">状态</label>
      <div class="col-sm-10">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="on" name="project_status">&nbsp
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="项目备注" class="col-sm-2 control-label">项目备注</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" name="project_remarks" placeholder="关于项目..."></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" type="submit">保存</button>
        <a class="btn btn-primary" href="/api/home/" role="button">取消</a>
      </div>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
      </div>
    </div>
  </form>

  {% else %}
  <h2 class="page-header">修改项目</h2>
  <form class="form-horizontal" method="post" action="/api/edit_project/?id={{ id }}">
    {% for project in projects %}
    {% csrf_token %}
    <div class="form-group">
      <label for="项目编号" class="col-sm-2 control-label">项目编号</label>
      <div class="col-sm-10">
        <p type="text" class="form-control" id="prject_id" value="{{ project.id }}" name="project_id"> {{ project.id }}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="项目名称" class="col-sm-2 control-label">项目名称</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="prject_name" value="{{ project.project_name }}" name="project_name"> {{ project.name }}
      </div>
    </div>
    <div class="form-group">
      <label for="创建时间" class="col-sm-2 control-label form_datetime1">创建时间</label>
      <div class="col-sm-10">
        <input size="16" type="text" class="form-control form_datetime1" value="{{ project.create_time }}" id="project_time" name="project_time" disabled>
      </div>
    </div>
    <div class="form-group">
      <label for="状态" class="col-sm-2 control-label">状态</label>
      <div class="col-sm-10">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1" name="project_status">&nbsp
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="项目备注" class="col-sm-2 control-label">项目备注</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" name="project_remarks">{{ project.project_remarks }}{{ project.remarks }}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-success" type="submit">保存</button>
        <a class="btn btn-primary" href="/api/home/" role="button">取消</a>
      </div>
    </div>
    {% endfor %}
  </form>

  {% endif %}
</div>
{% endblock %}

{% block js %}
<!--时间控件 -->
<script type="text/javascript">
  $('a[href^="#"]').click(function() {
    var the_id = $(this).attr("href");
    $('html, body').animate({
      scrollTop: $(the_id).offset().top
    }, 'slow');
    return false;
  });

  $(".form_datetime1").datetimepicker({
    format: 'yyyy年mm月dd hh:ii',
    forceParse: true,
    startDate: new Date(),
    autoclose: true,
    todayBtn: true,
    initialDate: new Date(),
    minView: 1
  });
</script>
{% endblock %}
